{{extend genshinLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}html/player/role-explore.css"/>
{{/block}}


{{block 'main'}}
<div class="head_box">
  <img class="icon" src="{{avatar}}">
  <p class="id_text">{{gamename}} | <span
    style="font-size:15px;color:#1e1f20;margin-left: -2px">Lv.{{gamelevel}}</span></p>
  <div class="day_text">
    {{gamefwq}} | UID{{uid}}
  </div>
  <img class="genshin_logo" src="{{_res_path}}img/other/原神.png">
</div>
<div class="data_box">
  <div class="tab_lable">数据总览</div>
  {{each line val}}
  <div class="data_line">
    {{each val item}}
    <div class="data_line_item">
      <div style="color:{{ item.color }};font-size:15px" class="num">{{item.num}}
        {{ if item.extra}}<span style="font-size:11px;color:#757575;margin-left: -4px">/{{item.extra}}</span>{{/if}}
      </div>
      <div class="lable">{{item.lable}}</div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>

{{if basicInfo?.level>0}}
<div class="basicInfo">
  <div class="tab_lable">七圣召唤</div>
  <div class="basicInfo_header">
    <div class="basicInfo_icon"><span>{{basicInfo.level}}</span></div>
    <div class="basicInfo_right">
      <div class="item">
        <div>已收集角色牌</div>
        <div>{{basicInfo.avatar_card_num_gained}}/{{basicInfo.avatar_card_num_total}}</div>
      </div>
      <div class="item">
        <div>已收集行动牌</div>
        <div>{{basicInfo.action_card_num_gained}}/{{basicInfo.action_card_num_total}}</div>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{if exploreStyle===1}}
<div class="world_box">
  <div class="tab_lable">世界探索</div>
  {{each worldCards card}}
  <div class="world-card">
    <div class="world-bgs" style="background: {{card.bg}};">
      {{if card.gradient}}<div class="gradient" style="background: {{card.gradient}};"></div>{{/if}}
      {{if card.bgImage}}
      <img class="image" src="{{_res_path}}img/other/{{card.bgImage}}" />
      {{/if}}
      <i class="border"></i>
    </div>
    <div class="card-main-container">
      <img class="card-logo" src="{{_res_path}}img/other/{{card.name}}.png" />
      <div class="card-header">
        <div class="card-name-wrapper">
          <p>{{card.name}}</p>
        </div>
        <div class="card-level">
          {{each card.levels lv}}
          <div class="card-level-item">
            <img class="level-icon" src="{{_res_path}}img/other/{{lv.icon}}" />
            <span class="level-name">{{lv.name}}：</span>
            <span class="level-value">{{lv.value}}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="exploration-block">
      {{each card.percents item idx}}
      <div class="card-percent-item {{idx!==0 ? 'exploration-child-row' : ''}}">
        <div class="percent-info">
          <span>{{item.name}}探索度：</span>
          <span class="percent-value {{item.percent>=100 ? 'is-full' : ''}}">
            {{if item.maxPercent}}
            {{item.percent}}%/{{item.maxPercent}}%
            {{else}}
            {{item.percent}}%
            {{/if}}
          </span>
        </div>
        <div class="percent-progress">
          <i class="progress-value" style="width: {{item.percent}}%;"></i>
        </div>
      </div>
      {{/each}}
    </div>
    {{if exploreShowAreas && card.areas && card.areas.length}}
    <div class="area-exploration-list">
      <div class="area-title">详细区域探索度</div>
      <i class="divider"></i>
      <div class="area-items">
        {{each card.areas area}}
        <p>
          <span class="area-name">{{area.name}}</span>
          <span class="area-percent {{area.percent>=100 ? 'is-full' : ''}}">
            {{if area.maxPercent}}
            {{area.percent}}%/{{area.maxPercent}}%
            {{else}}
            {{area.percent}}%
            {{/if}}
          </span>
        </p>
        {{/each}}
      </div>
    </div>
    {{/if}}
    {{if exploreShowOfferings && card.offerings && card.offerings.length}}
    <div class="offerings-list">
      <div class="offerings-title">聚所/特殊供奉/部族声望</div>
      <i class="divider"></i>
      <div class="offerings-items">
        {{each card.offerings offering}}
        <div class="offering-item">
          <img class="offering-icon" src="{{_res_path}}img/other/{{offering.icon}}" />
          <span class="offering-name">{{offering.name}}</span>
          <span class="offering-level">{{offering.level}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    {{if exploreShowBosses && card.bosses && card.bosses.length}}
    <div class="boss-list">
      <div class="boss-title">区域首领图鉴</div>
      <i class="divider"></i>
      <div class="boss-items">
        {{each card.bosses boss}}
        <p>
          <span class="boss-name">{{boss.name}}</span>
          <span class="boss-kill">×{{boss.killNum}}</span>
        </p>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
{{else}}
<div class="explor_box">
  <div class="tab_lable">地图探险</div>
  {{each explor val}}
  <div class="item">
    <img class="icon" src="{{_res_path}}img/other/{{val.name}}.png"/>
    <div class="content">
      {{each val.line line}}
      <p class="name">{{line.name}}：<span class="num">{{line.text}}</span></p>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
{{/block}}